/*
 * Fontes *
 * Non-free: https://www.fonts.com/font/intellecta-design/erased-typewriter
 * Non-free: https://www.fonts.com/font/canada-type/chapter-11/regular
 * List: https://www.dafont.com/traveling-typewriter.font (Free personal)
 * Text: https://www.dafont.com/moms-typewriter.font (100% free)
 * List/Text: https://www.dafont.com/albertsthal-typewriter.font (Free personal)
 *
 * Others *
 * https://fonts.google.com/specimen/Turret+Road?category=Serif,Display,Monospace
 * https://fonts.google.com/specimen/Coda?category=Serif,Display,Monospace
 * https://fonts.google.com/specimen/Seaweed+Script?category=Serif,Display,Monospace
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E3D6C3;  /* fallback for old browsers */
    background: linear-gradient(to right, #E3D6C3, #E4D7C4, #E6D9C6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Special Elite', cursive;
}